.App a {
  color: #185493;
  text-decoration: none;
}
.App a:hover {
  color: #185493; opacity: 0.5;
}

.App h1 {
  font-size: calc(14px + 3vmin);
  color: #262931;
}

.App h3 {
  font-size: calc(10px + 2vmin);
  color: #262931;
}

.App p {
  font-size: calc(9px + 1vmin);
}

.App .container {
  max-width: 75%;
  margin: 0 auto;    
}

.App-header {
background-color: #185493;
color: #fff;
font-size: calc(10px + 1vmin);
padding: 1rem;
}
.title-page {
  font-size: calc(10px + 3vmin);
}

.App-header a {
  color:#fff;
  font-weight: normal;
  text-decoration: none;
}
.App-header a:hover {
  color:#8b8b8b
}
.App-header ul {    
  padding: 0;
}

.App-header li {
  list-style: none;
  display: inline;
  padding: 1rem;
  font-weight: bold;
}

.App-header li:first-child {
  padding-left: 0; 
}

.App article {
padding: 1rem;  
}

.App article ul {
  margin: 0;
  padding: 0;  
}

.App article ul li {
  list-style: none;
}

.App-link {
color: #61dafb;
}

.App-message { 
background-color: #55A9D6; 
color: white !important;
padding: 2rem 1rem;
text-shadow: 0 1px 0 #444;
}

.App-message.saved {
  background: #51BB7A;
}

.App-message.deleted {
  background: #FF3F69;
}


.App form {
padding: 1rem;
}

.App form input {
  border: 1px solid #ccc;
  padding: .3rem;
}  

.App form label {
  display: block;
  padding: .5rem 0;
}

.App form input#form-title {
  min-width: calc(100% - 20px);
  padding: 10px;
  font-size: 1rem;
}

.App form .ql-editor {
  min-height: 4rem;
}

.App form button[type="submit"] {
  border: 1px #ccc solid;
  background: white;
  font-size: 1rem;
  padding: .5rem 1rem;
}
.App form button[type="submit"]:hover {
  cursor: pointer;
}

.App button.linkLike {
border: none;
font-size: inherit;
color: #FF3F69;
text-decoration: none;
background-color:#fff;
}

.App button.linkLike:hover {
  color: #FF3F69; opacity: 0.5;
  cursor: pointer;
}